<nav>
    <div>
        <a href="/">
            <h1>伺服器網頁語言</h1>
        </a>
    </div>
    <ul>
        <li><a href="/cv">CV</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/dream">Comments</a></li>
    </ul>
</nav>