<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body class="cv_body">
        <%- include("./partials/nav.ejs") %>
            <div class="img">
                <img src="pic4.jpg">
            </div>

            <div class="cvt_left">
                <p>Name</p><br>
                <p>Birthday</p><br>
                <p>Age</p><br>
                <p>Degree</p><br>
                <p>Phone</p><br>
                <p>City</p>
            </div>
            <div class="cvt_right">
                <p>WANG,YAN-CHUN</p><br>
                <p>1999/02/05</p><br>
                <p>22</p><br>
                <p>Bachelor</p><br>
                <p>+886 123 456 789</p><br>
                <p>Kaohsiung</p>
            </div>
    </body>

</html>