<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body class="index_body">
        <%- include("./partials/nav.ejs") %>
            <div class="index_texts">
                <p class="p-1">王嬿淳</p><br>
                <p class="p-2">南臺科技大學</p><br>
                <p class="p-3">資訊工程系</p><br>
                <p class="p-4">4A6G0014</p>
            </div>
            <!-- <div class="img">
                <img src="pic0.jpg">
            </div> -->
            <%- include("./partials/footer.ejs") %>
    </body>

</html>