<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body translate="no">
        <%- include("./partials/nav.ejs") %>
            <div class="row">
                <div class="card1">
                    <div class="wrapper">
                        <div class="date">
                            <span class="year">2017</span>
                            <span class="year">to</span>
                            <span class="year">2018</span>
                        </div>
                        <div class="data">
                            <div class="content">
                                <h1 class="title">一年級</h1>
                                <p class="text">
                                    <li>計算機程式</li>
                                    <li>物件導向程式設計</li>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="card2">
                    <div class="wrapper">
                        <div class="date">
                            <span class="year">2018</span>
                            <span class="year">to</span>
                            <span class="year">2019</span>
                        </div>
                        <div class="data">
                            <div class="content">
                                <span class="author"></span>
                                <h1 class="title">二年級</h1>
                                <p class="text">
                                    <li>視窗程式設計</li>
                                    <li>JAVA程式設計</li>
                                    <li>網頁設計</li>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card3">
                    <div class="wrapper">
                        <div class="date">
                            <span class="year">2019</span>
                            <span class="year">to</span>
                            <span class="year">2020</span>
                        </div>
                        <div class="data">
                            <div class="content">
                                <span class="author"></span>
                                <h1 class="title">三年級</h1>
                                <p class="text">
                                    <li>動態程式語言</li>
                                    <li>資料庫系統</li>
                                    <li>Android程式設計</li>
                                    <li>積木式手機應用程式</li>
                                    <li>JavaScript程式設計</li>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card4">
                    <div class="wrapper">
                        <div class="date">
                            <span class="year">2020</span>
                            <span class="year">to</span>
                            <span class="year">2021</span>
                        </div>
                        <div class="data">
                            <div class="content">
                                <span class="author"></span>
                                <h1 class="title">四年級</h1>
                                <p class="text">
                                    <li>伺服器網頁語言</li>
                                    <li>網站開發專題</li>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>


</html>